extends layout

block content
  <h1>edit</h1>	
  <form action="http://127.0.0.1:3000/edit" method="POST">
  <input type="hidden" name="_method" value="PUT">
  username: <input type="text" name="username">  <br>

  password: <input type="text" name="password">
  <input type="submit" value="Submit">
