extends layout

block content
  <h1>login</h1>
  <form action="http://127.0.0.1:3000/login" method="POST">
  username: <input type="text" name="email">  <br>

  password: <input type="text" name="password">
  <input type="submit" value="Submit">
